<!DOCTYPE html>
<html ng-app = "app">
  <head>
    <meta charset="utf-8">
    <title>Gotham Luxury Cars</title>
    <link rel='stylesheet' type='text/css' href='css/style.css'>
  </head>
  <body >

      <div id="carImage" ng-controller="imageDisplay as id">

          <div><image src ={{option.image}}></image></div>




          </div>
          <button ng-click= "nextImage()">next</button>
          <button ng-click= "previousImage()">next</button>
        </div>
      </div>



<script src="vendor/angular/angular.js"></script>
<script src="main/app.js"></script>

<script src="directive/customDirec.js"></script>
<script src="dropDown/dropDown.js"></script>
<script src="dropDown/dropDownFactory.js"></script>
<script src="dropDown/dropDownController.js"></script>
  </body>
</html>
